/* PC */
@media (min-width: 1024px) {
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  .section__banner {
    padding: 0;
  }

  .product-card__body {
    flex-direction: column;
  }

  .section__product {
    margin: 0;
  }
}

/* Tablet + Mobile */
@media (max-width: 1023px) {
  .footer {
    top: 380%;
  }
}

/* Mobile */
@media (max-width: 739px) {
  #sidebar {
    display: none;
  }

  .layout {
    margin-left: -117px;
    width: 83%;
  }

  .header__logo {
    margin-top: 30px;
  }

  .section__banner {
    padding: 0;
    height: 100%;
  }

  .section__product {
    flex-direction: column;
  }

  .product-card {
    margin: 0;
  }

  .product-card__header {
    margin-top: 160px;
    text-align: center;
  }

  .product-card__body {
    flex-direction: column;
  }

  .product-card__body img {
    width: 100%;
    height: 100%;
  }

  .product-card__header {
    margin-top: 32px;
  }

  .product-card__desc,
  .product-card__footer {
    padding: 0 23px;
  }

  .footer {
    margin-left: -80px;
    top: 376%;
  }
}
